In [1]:
import pandas as pd
import numpy as np

In [3]:
#train_df = pd.read_csv("data/raw/train.csv")
train_df = pd.read_csv("../data/raw/train.csv")
test_df = pd.read_csv("../data/raw/test.csv")

In [4]:
train_df.head()
train_df.info()
train_df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57477 entries, 0 to 57476
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              57477 non-null  int64
 1   model_a         57477 non-null  object
 2   model_b         57477 non-null  object
 3   prompt          57477 non-null  object
 4   response_a      57477 non-null  object
 5   response_b      57477 non-null  object
 6   winner_model_a  57477 non-null  int64
 7   winner_model_b  57477 non-null  int64
 8   winner_tie      57477 non-null  int64
dtypes: int64(4), object(5)
memory usage: 3.9+ MB

,id,model_a,model_b,prompt,response_a,response_b,winner_model_a,winner_model_b,winner_tie
count,5.747700e+04,57477,57477,57477,57477,57477,57477.000000,57477.000000,57477.000000
unique,NaN,64,64,51734,56566,56609,NaN,NaN,NaN
top,NaN,gpt-4-1106-preview,gpt-4-1106-preview,"[""Answer the following statements with \""Agree...","[""Hello! How can I assist you today?""]","[""Hello! How can I assist you today?""]",NaN,NaN,NaN
freq,NaN,3678,3709,101,109,100,NaN,NaN,NaN
mean,2.142564e+09,NaN,NaN,NaN,NaN,NaN,0.349079,0.341911,0.309011
std,1.238327e+09,NaN,NaN,NaN,NaN,NaN,0.476683,0.474354,0.462090
min,3.019200e+04,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
25%,1.071821e+09,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
50%,2.133658e+09,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
75%,3.211645e+09,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000
max,4.294947e+09,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000


- prompt: 用户问题（可能是 list）
- response_a / response_b: 两个模型的回答
- winner_model_a / b / tie: 人类偏好标签（one-hot）

In [6]:
print("Prompt:", train_df["prompt"][0])
print("Response A:", train_df["response_a"][0][:500])
print("Response B:", train_df["response_b"][0][:500])

Prompt: ["Is it morally right to try to have a certain percentage of females on managerial positions?","OK, does pineapple belong on a pizza? Relax and give me fun answer."]
Response A: ["The question of whether it is morally right to aim for a certain percentage of females in managerial positions is a complex ethical issue that involves considerations of fairness, equality, diversity, and discrimination.\n\nHere are some arguments in favor of and against such policies:\n\n**Arguments in favor:**\n\n1. **Correcting Historical Inequities:** Women have historically been underrepresented in leadership roles due to various cultural, institutional, and social barriers. Aiming for a
Response B: ["As an AI, I don't have personal beliefs or opinions. However, I can tell you that the question of gender quotas in managerial positions is a complex one and positions can vary. Advocates argue that such measures can help correct historical imbalances, promote diversity, and may lead to better decision-making. Critics may argue that positions should be based purely on merit, and that quotas could potentially lead to tokenism or unqualified candidates being promoted. Morality can be subjective a